@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

}

header {
    padding: 10px 50px 20px 40px;
    grid-column: span 6;
}

img {

    grid-column: 6/span 12;
    align-items: center;
    width: 16rem;
    height: 9rem;


}


header nav {
    grid-column: 4 / span 11;
    justify-self: right;
    font-size: 0.9rem;

}

header nav a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

main {
    padding: 20px;
    margin: 60px auto;
    max-width: 1200px;

}

main img {
    grid-column: span 6;
    width: 100%;
}

main .Photography {
    grid-column: 8 / span 6;
    text-align: center
}

main h3 {
    grid-column: span 12;
    text-align: center;
    text-decoration: underline;
    font-size: 1.5rem;
}

main .card {
    text-align: center;
    grid-column: span 4;
    background-color: #24282c;
    padding: 10px 20px;
    border-radius: 5px;
}

footer .card {
    text-align: center;
    grid-column: span 12;
    background-color: #1f7a8c;
    padding: 10px 20px;
    border-radius: 5px;
}

a {
    color: white;

}

/* Media Queries */
@media (max-width: 1150px) {
    main img {
        grid-column: 2 /span 10;
    }

    main .Photography {
        grid-column: 3/ span 8;
    }

    main .card {
        grid-column: 3 / span 8;
    }
}

@media (max-width: 600px) {
    header {
        padding: 20px 0;
    }

    header h1 {
        text-align: center;
        grid-column: span 12;
        margin: 0;
    }

    header nav {
        grid-column: span 12;
        justify-self: center;
    }

    main img {
        grid-column: span 12;
    }

    main .Photography {
        grid-column: span 12;
    }

    main .card {
        grid-column: span 12;
    }
}