@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

}

header {
    padding: 10px 50px 20px 40px;
    grid-column: span 6;
}



header nav {
    grid-column: 1/ span 11;
    justify-self: right;
    font-size: 0.9rem;
    margin: 15px;

}



header nav a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}




header img {

    grid-column: span 12;
    align-content: center;
    width: 1200px;
    height: 550px;
}


.form {
    grid-column: 4/span12;
    align-content: center;

}

.orange {

    box-sizing: border-box;
    color: rgb(251, 97, 0);
    display: block;
    font-size: 48px;
    font-weight: 800;
    height: 56.1562px;
    line-height: 56.16px;
    margin-block-end: 12px;
    margin-block-start: 0px;
    margin-bottom: 12px;

}

.grey {
    box-sizing: border-box;
    color: rgb(66, 84, 87);
    display: block;
    font-size: 20px;
    font-weight: 400;
    height: 28px;
    line-height: 28px;
    margin-block-end: 16px;
}

form {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(66, 84, 87);
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
    height: 90px;
    line-height: 48px;
    margin-top: 0px;
    max-width: 611px;
    min-height: 90px;
    position: relative;
    text-align: center;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    width: 611px;
}

img.mobilePhone {
    grid-column: 2/span12;
    width: 220px;
    height: 285px;
    margin: 0;
    padding: 0;

}


main h3 {
    grid-column: 5/span 12;
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
}

img.appleStore {
    width: 300px;
    height: 130px;
}


img.googlePlay {
    width: 150px;
    height: 45px;
    grid-column: span 4;

}







main .card {
    text-align: center;
    grid-column: span 4;
    background-color: #24282c;
    padding: 10px 20px;
    border-radius: 5px;
}

main .Photography {
    grid-column: 8 / span 6;
    text-align: center
}

footer .card {
    text-align: center;
    grid-column: span 12;
    background-color: #1f7a8c;
    padding: 10px 20px;
    border-radius: 5px;
}

a {
    color: white;

}