@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');




body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #3a506b;
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

}

header {
    padding: 20px 40px;
    background-color: #1c2541;
    align-items: center;
}

header h1 {
    grid-column: span 6;
    animation: fade-down 1.5s;
}


header nav {
    grid-column: 7 / span 6;
    justify-self: right;
    animation: fade-down 1.5s;
}

header nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
}


footer .card {
    text-align: center;
    grid-column: span 12;
    background-color: #1f7a8c;
    padding: 10px 20px;
    border-radius: 5px;
}

a {
    color: white;

}

/* Media Queries */


@media (max-width: 600px) {
    header {
        padding: 20px 0;
    }

    header h1 {
        text-align: center;
        grid-column: span 12;
        margin: 0;
    }

    header nav {
        grid-column: span 12;
        justify-self: center;
    }


}