@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'poppins' sans-serif;
}

/*Declare/Define animation styles */
@keyframes animation1 {
    from {
        background-color: crimson;
    }

    to {
        background-color: dodgerblue;
    }
}

.animationOne {
    animation-name: animation1;
    animation-duration: 5s;

}

/*background-color: orange;*/
/*animation-fill-mode: forwards;*/


@keyframes animation2 {
    0% {
        animation-color: crimson;
    }

    25% {
        animation-color: purple;
    }

    50% {
        animation-color: dodgerblue;
    }

    75% {
        animation-color: darkcyan;
    }

    100% {
        animation-color: forestgreen;
    }
}

.animationTwo {
    animation-name: animation2;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

}

@keyframes animation3 {
    from {
        left: 30%;
    }

    to {
        right: 100px;
    }
}

.animationThree {
    width: 100px;
    height: 100px;
    background-color: crimson;
    border-radius: 50%;
    position: absolute;

    animation-name: animation3, animation2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}